@import "variables";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

%title{
    font-family: $main-font,'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: $title;
    line-height: 45.5px;
}

%subtitle{
    font-family: $main-font,'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: $subtitle;
    line-height: 23px;
}

%text{
    font-family: $secont-font, Helvetica, sans-serif;
    font-weight: 400;
    font-size: $text;
    line-height: 24px;
}

%btn{
    font-family: $main-font,'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: $btn;
    line-height: 22.1px;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.big-img{
    @media screen and (max-width: 800px){
       display: none;
    }
}

.mid-img{
    display: none;
    @media screen and (max-width: 800px){
        display: inline;
    }
}