* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer, .main, .header-nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-item .footer-title, .header-menu .logo .logo-title {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
}

.footer-item .footer-link {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.header-menu .header-menu-item {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@-webkit-keyframes rotating {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}
.header-menu {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header-menu .logo {
  margin-right: 565px;
  cursor: pointer;
}
.header-menu .logo .logo-title {
  line-height: 35.2px;
  color: #545454;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}
.header-menu .logo .logo-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  letter-spacing: 0.1em;
}
.header-menu .header-menu-item {
  margin-right: 35px;
  transition: border-bottom linear 0.4s;
}
.header-menu .header-menu-item a {
  color: #545454;
  transition: color linear 1s;
}
.header-menu .header-menu-item:nth-child(5) {
  margin-right: 0;
}
.header-menu .header-menu-item__active {
  border-bottom: 3px solid #F1CDB3;
}
.header-menu .header-menu-item__active a {
  color: #292929;
}
.header-menu .header-menu-item__passive:hover a {
  color: #F1CDB3;
}
.header-menu .header-menu-item__passive:active {
  border-bottom: 3px solid #F1CDB3;
}
.header-menu .header-menu-item__passive:active a {
  color: #292929;
}
.header-menu .hamburger {
  display: none;
}

.main {
  height: 1400px;
  background-color: aqua;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer, .header-nav, .main {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-item .footer-title, .header-menu .logo .logo-title {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
}

.footer-item .footer-link {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.header-menu .header-menu-item {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-item .footer-title {
  color: #FFFFFF;
  max-width: 275px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-right: 160px;
  margin-top: 20px;
}
.footer-item .footer-link {
  display: block;
  color: #F1CDB3;
  margin-bottom: 35px;
  max-width: 250px;
  display: flex;
  align-items: center;
}
.footer-item .footer-link::before {
  content: url(../icons/icon-marker.svg);
  margin-right: 20px;
}
.footer-item .footer-mail::before {
  content: url(../icons/icon-email.svg);
}
.footer-item .footer-tel::before {
  content: url(../icons/icon-phone.svg);
}
.footer-item .footer-img {
  width: 300px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-item .footer-img img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=pets.css.map */