@import "variables";
@import "common";
@import "animation";

.bg__header-pets{
    background-color: $color-white;
}

.header-nav{
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 800px){
        padding: 30px;
    }
    @media screen and (max-width: 767px){
        justify-content: space-between;
    }
    @media screen and (max-width: 330px){
        padding: 30px 20px;
    }

    .logo{
        margin-right: 570px;
        cursor: pointer;

        @media screen and (max-width: 1270px){
            margin-right: 40%;
        }
        @media screen and (max-width: 1200px){
            margin-right:30%;
        }
        @media screen and (max-width: 1000px){
            margin-right:20%;
        }
        @media screen and (max-width: 860px){
            margin-right: 80px;
        }
        @media screen and (max-width: 767px){
            margin-right: 0px;
        }

        .logo-title{
            display: block;
            font-family: $main-font 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: $logo;
            line-height: 35.2px;
            color: $color-title;
            margin-bottom: 10px;
            letter-spacing: 0.06em;
        }

        .logo-text{
            font-family: $secont-font;
            font-weight: 400;
            font-size: $modal-text;
            line-height: 15px;
            color: $color-btn;
            letter-spacing: 0.1em;
        }
    }

    .hamburger{
        display: none;

        @media screen and (max-width: 767px){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 22px;
            width: 30px;
            position: relative;
            z-index: 50;
            cursor: pointer;
            transition: all linear 1s;
         }
 
         .hamburger-item{
             width: 30px;
             height: 2px;
             background-color: $primary-color;
         }
    }
}

.hamburger__active{
    transform: rotateZ(90deg);
}

.header-menu{
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px){
        min-width: 320px;
        height: 100vh;
        padding-top: 45px;
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $color-link-a;
        z-index: 10;
        transition: all linear 1s;
    }

    .header-menu-item{
        font-family: $secont-font, Helvetica, sans-serif;
        font-weight: 400;
        font-size: $text;
        line-height: 24px;
        margin-right: 35px;
        transition: border-bottom linear 0.4s;

        @media screen and (max-width: 767px){
            font-size: 32px;
            margin-bottom: 40px;
            margin-right: 0;
        }

        a{
            color: $color-title;
            transition: color linear 1s;
        }
    }

    .header-menu-item:nth-child(4){
        margin-right: 0;
    }

    .header-menu-item__active{
        border-bottom: 3px solid $primary-color;

        a{
            color: $color-btn;
        }
    }

    .header-menu-item__passive{
        &:hover{
            a{
                color: $primary-color;
            }
        }
        &:active{
            border-bottom: 3px solid $primary-color;
            a{
                color: $color-btn
            }
        }
    }
}

.header-menu__active{
    right: -20px;
 }

.bg__main-pets{
    background-color: $color-gray; 

    .pets-title{
        @extend %title;
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
        padding-top: 80px;
        letter-spacing: 0.06em;
        color: $color-title; 

        @media screen and (max-width: 330px){
            max-width: 230px;
            padding-top: 45px;
        }
    }
}

.pets-grid{
    width: 100%;
    margin: 60px auto;
    padding: 0 40px;
    display: grid; 
    grid-row-gap: 30px;
    grid-column-gap: 25px;
    grid-template-areas: 
                        "a b c d"
                        "e f g h"; 
    
    @media screen and (max-width: 1200px){
        grid-template-areas: 
        "a b c"
        "d e f"
        "g g h";
    }

    @media screen and (max-width: 900px){
        justify-items: center; 
        justify-content: center;
        grid-template-areas: 
        "a b"
        "c d"
        "e f";
        margin: 30px auto;
    }

    @media screen and (max-width: 550px){
        margin: 40px auto;
        padding: 0 25px;
        grid-row-gap: 35px;
        grid-template-areas: 
        "a"
        "b"
        "c";
    }

    .pet-card{
        width: 270px;
        background-color: $color-link-a;
        border-radius: 9px 9px 0px 0px;
        cursor: pointer;
        transition: background-color linear 1s;

        &:hover{
            background-color: $color-white;

            .pet-card-btn{
                background-color: $light-color;
                transform: scale(1.05);
            }
        }
             
        .pet-img{
            width: 270px;
            height: 270px;
            object-fit: cover;
            transition: transform linear 1s;

            &:hover{
                transform: rotateY(180deg);
            }

            img{
                width: 100%;
                height: 100%;
            }
        }

        .pet-subtitle{
            @extend %subtitle; 
            text-align: center;
            color: $color-title;
            margin-top: 30px;
            letter-spacing: 0.06em;
        }

        .pet-card-btn{
            @extend %btn; 
            display: block;
            width: 185px;
            margin: 30px auto;
            height: 50px;
            color: $color-btn;
            padding: 15px 45px;
            border-radius: 100px;
            border: 2px solid $primary-color;
            background-color: $color-white;
            cursor: pointer;
            transition:  background-color linear 1s, transform linear 1s;

            @media screen and (max-width: 369px){
                margin: 28px auto;
             }
        
            &:active{
                transform: scale(0.95);
                background-color: $primary-color;
            }
        }
    }

    .pet-card1{
        grid-area: a;
    }

    .pet-card2{
        grid-area: b;
    }

    .pet-card3{
        grid-area: c;
    }

    .pet-card4{
        grid-area: d;
        @media screen and (max-width: 550px){
            display: none;
        }
    }

    .pet-card5{
        grid-area: e;
        @media screen and (max-width: 550px){
            display: none;
        }
    }

    .pet-card6{
        grid-area: f;
        @media screen and (max-width: 550px){
            display: none;
        }
    }

    .pet-card7{
        grid-area: g;
        @media screen and (max-width: 900px){
           display: none;
        }
    }

    .pet-card8{
        grid-area: h;
        @media screen and (max-width: 900px){
            display: none;
        }
    }
}

.pets-pagination{
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    @media screen and (max-width: 900px){
        padding-bottom: 90px;
    }

    @media screen and (max-width: 400px){
        max-width: 300px;
        padding-bottom: 50px;
    }

    .pets-btn{
        @extend %subtitle; 
        width: 52px;
        height: 52px;
        border-radius: 50%;
        cursor: pointer;
    }

    .pets-btn__desabled{
        background-color: transparent;
        border: 2px solid $color-link; 
        color: $color-link; 
    }

    .pets-btn__enabled{
        background-color: transparent;
        border: 2px solid $primary-color; 
        color: $color-btn;  
        transition: background-color linear 1s;

        &:hover{
            background-color: $light-color;
        }
    }

    .page-number{
        background-color: $primary-color;
        color: $color-btn;  
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@import "footer";