* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer, .main {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-item .footer-title, .main .pets-title {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
}

.footer-item .footer-link, .pets-pagination .pets-btn, .pets-grid .pet-card .pet-subtitle {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.header-menu .header-menu-item {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.pets-grid .pet-card .pet-card-btn {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

@-webkit-keyframes rotating {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
.header-nav {
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  align-items: center;
}
.header-nav .logo {
  margin-right: 570px;
  cursor: pointer;
}
.header-nav .logo .logo-title {
  display: block;
  font-family: "Georgia" "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  color: #545454;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}
.header-nav .logo .logo-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.header-nav .hamburger {
  display: none;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu .header-menu-item {
  margin-right: 35px;
  transition: border-bottom linear 0.4s;
}
.header-menu .header-menu-item a {
  color: #545454;
  transition: color linear 1s;
}
.header-menu .header-menu-item:nth-child(4) {
  margin-right: 0;
}
.header-menu .header-menu-item__active {
  border-bottom: 3px solid #F1CDB3;
}
.header-menu .header-menu-item__active a {
  color: #292929;
}
.header-menu .header-menu-item__passive:hover a {
  color: #F1CDB3;
}
.header-menu .header-menu-item__passive:active {
  border-bottom: 3px solid #F1CDB3;
}
.header-menu .header-menu-item__passive:active a {
  color: #292929;
}
.header-menu .hamburger {
  display: none;
}

.main {
  background-color: #F6F6F6;
}
.main .pets-title {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets-grid {
  width: 100%;
  margin: 60px auto;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 25px;
  grid-template-areas: "a b c d" "e f g h";
}
.pets-grid .pet-card {
  width: 270px;
  background-color: #FFFFFF;
  border-radius: 9px 9px 0px 0px;
  cursor: pointer;
  transition: -webkit-animation linear 2s;
  transition: animation linear 2s;
  transition: animation linear 2s, -webkit-animation linear 2s;
}
.pets-grid .pet-card:hover {
  -webkit-animation: rotating 2s;
          animation: rotating 2s;
}
.pets-grid .pet-card .pet-img {
  width: 270px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform linear 1s;
}
.pets-grid .pet-card .pet-img:hover {
  transform: rotateY(180deg);
}
.pets-grid .pet-card .pet-img img {
  width: 100%;
  height: 100%;
}
.pets-grid .pet-card .pet-subtitle {
  text-align: center;
  color: #545454;
  margin-top: 30px;
  letter-spacing: 0.06em;
}
.pets-grid .pet-card .pet-card-btn {
  display: block;
  width: 185px;
  margin: 32px auto;
  height: 50px;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color linear 1s, transform linear 1s;
}
.pets-grid .pet-card .pet-card-btn:hover {
  background-color: #FDDCC4;
  transform: scale(1.05);
}
.pets-grid .pet-card .pet-card-btn:active {
  transform: scale(0.95);
  background-color: #F1CDB3;
}
.pets-grid .pet-card .pet-card1 {
  grid-area: a;
}
.pets-grid .pet-card .pet-card2 {
  grid-area: b;
}
.pets-grid .pet-card .pet-card3 {
  grid-area: c;
}
.pets-grid .pet-card .pet-card4 {
  grid-area: d;
}
.pets-grid .pet-card .pet-card5 {
  grid-area: e;
}
.pets-grid .pet-card .pet-card6 {
  grid-area: f;
}
.pets-grid .pet-card .pet-card7 {
  grid-area: g;
}
.pets-grid .pet-card .pet-card8 {
  grid-area: h;
}

.pets-pagination {
  max-width: 350px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets-pagination .pets-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
}
.pets-pagination .pets-btn__desabled {
  background-color: transparent;
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}
.pets-pagination .pets-btn__enabled {
  background-color: transparent;
  border: 2px solid #F1CDB3;
  color: #292929;
}
.pets-pagination .page-number {
  background-color: #F1CDB3;
  color: #292929;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer, .main {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-item .footer-title, .main .pets-title {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 45.5px;
}

.footer-item .footer-link, .pets-grid .pet-card .pet-subtitle, .pets-pagination .pets-btn {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.header-menu .header-menu-item {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.pets-grid .pet-card .pet-card-btn {
  font-family: "Arial", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22.1px;
}

.wrapper {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-item .footer-title {
  color: #FFFFFF;
  max-width: 275px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 20px;
}
.footer-item .footer-link {
  display: block;
  color: #F1CDB3;
  margin-bottom: 35px;
  max-width: 250px;
  display: flex;
  align-items: center;
}
.footer-item .footer-link::before {
  content: url(../icons/icon-marker.svg);
  margin-right: 20px;
}
.footer-item .footer-mail {
  letter-spacing: 0.06em;
}
.footer-item .footer-mail::before {
  content: url(../icons/icon-email.svg);
}
.footer-item .footer-tel {
  letter-spacing: 0.06em;
}
.footer-item .footer-tel::before {
  content: url(../icons/icon-phone.svg);
}
.footer-item .footer-img {
  width: 300px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-item .footer-img img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=pets.css.map */