$primary-color: #F1CDB3; 
$light-color: #FDDCC4; 
$color-link-a: #FAFAFA;
$color-link: #CDCDCD; 
$color-btn: #292929;
$color-title: #545454; 
$color-text: #4C4C4C; 
$color-italic: #B2B2B2; 
$color-white: #FFFFFF; 
$color-black: #000000; 

$main-font: "Georgia"; 
$secont-font: "Arial"; 

$h1: 44px; 
$title: 35px; 
$title-small: 25px; 
$logo: 32px; 
$subtitle: 20px; 
$btn: 17px; 
$text: 15px; 
$modal-text: 13px; 
$italic: 12px; 